
// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark : #373a3c !default;
$gray : #55595c !default;
$gray-light : #818a91 !default;
$gray-lighter : #eceeef !default;
$gray-lightest : #f7f7f9 !default;

$brand-primary : #d03024;
$brand-success : #5cb85c !default;
$brand-info : rgba(255,255,255,0.5);
$brand-warning : #f0ad4e !default;
$brand-danger : #d9534f !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex : false !default;
$enable-rounded : true !default;
$enable-shadows : false !default;
$enable-gradients : false !default;
$enable-transitions : false !default;
$enable-hover-media-query : false !default;
$enable-grid-classes : true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer : 1rem !default;
$spacer-x : $spacer !default;
$spacer-y : $spacer !default;
$border-width : 1px !default;


// Body
//
// Settings for the `<body>` element.

$body-bg : #fff !default;
$body-color : #373a3c !default;


// Links
//
// Style anchor elements.

$link-color : $brand-primary !default;
$link-decoration : none !default;
$link-hover-color : darken($link-color, 15%) !default;
$link-hover-decoration : underline !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif : Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace : Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base : $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root : 16px !default;

$font-size-base : 1rem !default;
$font-size-lg : 1.25rem !default;
$font-size-sm : .875rem !default;
$font-size-xs : .75rem !default;

$headings-font-family : inherit !default;


@import 'bootstrap';
@import 'pingendo-bootstrap';

.menu     {




  a {
    color: white;
    &:hover {
      color: red;
    }
  }
  background-color : rgba(0,0,0,0.5);




}

#lang {
  right: 10px;
  position:fixed;
  z-index:100;
}


.section     {
  border-bottom : 2px solid red;
}



  .carousel img {
    height:300px !important;
  }


#intro {
 .carousel img {
    height:100% !important;
  }
}



.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;

  > .carousel-item {
    position: relative;
    display: none;
    transition: .6s ease-in-out left;

    // Account for jankitude on images
    > img,
    > a > img {
      @extend .img-fluid;
      line-height: 1;
    }

    img {
      object-fit: cover;
      width:100%;
    }


    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      transition: all .6s ease-in-out;
      backface-visibility: hidden;
      perspective: 1000px;

      &.next,
      &.active.right {
        opacity: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        z-index:99;
      }
      &.prev,
      &.active.left {
        opacity: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        z-index:99;
      }
      &.next.left,
      &.prev.right,
      &.active {
        left: 0;
        opacity: 1 !important;
        transform: translate3d(0, 0, 0);
        z-index:100;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }
}

.lb-nav a.lb-next, .lb-nav a.lb-prev {
  opacity : 1 !important;  
}
